*{
 padding: 0;
 margin: 0;
 border:0;   
}
body{
    font-family: 'Poppins', sans-serif;
}

footer{
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(to top, rgb(255,183,61) 40%, white 70%)
   
}

footer ul{
    list-style: none;

}

/**Main**/

h1{
    text-align: center;
}

article{
    
    text-align: center;
    
    margin: 35px;
}


label{
    width: 100%;
}
    
article p {
    text-align: left;
    margin-bottom: 1rem;
}
form{
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
.contacto{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    
    
}
  
fieldset{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    border: .1rem solid black;
    
}
fieldset input, textarea{
    padding: .5rem;
    border: .1rem solid black;
    margin-top: .5rem;
    background-color: rgb(198, 198, 198);
    border-radius: .5rem;
}
p, .contacto {
    font-size: 16px;
}
/**Main**/


.producto img{
    order: 1;
}
/*** grid ***/
    .grid{
        
        display: grid;
        /**grid-template-columns: 1fr 1fr;**/
        grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
        /**grid-template-rows: 7rem 19rem 5rem;**/
        grid-template-rows: auto auto auto;
        width: auto;
        padding: 1rem;
        margin: auto;
        grid-template-areas: "descripcion descripcion"
                             "foto1   foto2"
                             "descripcion2 descripcion2"
    }
   
    .grid > div{
        border: .1rem solid black;
    }
    .grid1{
        grid-area: descripcion;
        padding: 1rem;
        width: auto;
    }
    .grid1 p{
        width: auto;
    }
    .grid2{
        grid-area: foto1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid3{
        grid-area: foto2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .imggrid{
         width: 70%;
         text-align: center;
         margin: auto;
         
        }
        .imggrid img{
         width: 100%;
         
        }
        
    
    
     .grid4{
        grid-area: descripcion2;
        padding: 1rem;
    }
    
    
   @media all and (min-width:992px){
       
        .imggrid{
            width: 50%;
            text-align: center;
            
        }
        .grid{
            padding-left: 10rem;
            padding-right: 10rem;
        }
        
        
        #contenedor-menu img{
            display: none;
        }
        .navbar-expand-lg{
            height: 5rem;
        }
     

    }







@media all and(max-width:1440px){
    .gfoto1 img{
        width: 460px;
    }
}
    
    
/** nav bootstrap**/

.bg{
    background-color: black;
}
.navbar-toggler-icon {
    color:black;
}
.navbar-toggler{
    background-color: white !important;
    
}
.nav-item a:hover, .nav-item a:focus{
    background-color:  rgb(255,183,61);
    color: black;
    border-radius: .2rem;
}
/** grilla fotos**/
.grilla{
    margin: 2rem
}




.card{
    margin: auto;
    width:50%;
}
/** galeria**/
.gfoto{
    
}
.gfoto1{
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}

.gfoto img{
    width: 100%;
}
.container{
    margin-top: 1rem;
}
